@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Overpass:ital,wght@0,300;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --pink: #fff;
  --violet: #9a42ff;
}
/*********************** THIS IS CODE FOR LAYOUT ie GRID ***********************/
body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(300px, auto);
  grid-template-areas:
    "navbar"
    "intro"
    "aboutus"
    "lead-head"
    "leads"
    "footer";
}
/*****************************ENDS******************************/
.line {
  width: 80%;
  height: 3px;
  background-color: white;
}
/*********************** CSS CODE FOR NAVBAR STARTS ***********************/

header .nav-bar {
  transition: 0.5s ease-in-out;
} /*********************** CSS CODE CHANGE FOR NAV COLOR ON SCROLL***********************/

.nav-active {
  background-image: linear-gradient(315deg, #9a42ff 10%, #a73eee 60%);
}

header {
  width: 100%;
  height: 8vh;
  background: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;

  transition: 0.5s ease-in-out;
}

header .logo {
  width: 25%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
}

.header-active {
  top: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
}
header .navbar {
  background-color: none;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;

  background-color: none;
}
header .navbar ul li {
  margin: 1px 30px;
}
header .navbar ul li a {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 100;
  background-color: none;
  color: rgb(255, 255, 255);
  font-family: "Staatliches", cursive;
  padding: 0px;

  transition: 0.056s ease-in;

  padding: 10px 15px;
}

header .navbar ul li.active,
header .navbar ul li a:hover {
  color: #9a42ff;
  border-radius: 2px;

  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.123) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.151) 0px 3px 7px -3px;
}

header .logo {
  position: relative;
  margin-left: 15px;
  font-size: 2rem;
  color: var(--violet);
  font-family: "Staatliches", cursive;
  text-transform: uppercase;
  padding: 5px;
}

header .fa-bars {
  margin-right: 10px;
  font-size: 3rem;
  color: var(--pink);
  cursor: pointer;
  display: none;
  transition: 0.2s;
}

header .fa-times {
  transform: rotate(180deg);
  color: var(--violet);
}

/*****************************ENDS******************************/

/******************* INTRO STARTS *************************/

.intro {
  height: 100vh;
  background-image: linear-gradient(315deg, #a73eee 10%, #9a42ff 60%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .bg {
  width: 30%;
  height: 30vh;
  margin-bottom: 10%;
  animation-name: bg-animation;
  animation-duration: 4s;

  transition: 0.2s ease-in-out;
  animation-delay: 0s;
}
@keyframes bg-animation {
  0% {
    transform: translate(-200px);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.intro .head-text {
  color: white;
  font-size: 1.3rem;
  font-family: comfortaa;
  padding: 10px;
}
.intro .head-text h1 {
  margin-bottom: 10px;
}
/*****************************ENDS******************************/

/******************* SECTION 1 STARTS *************************/
.section-1 {
  height: 100vh;

  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec1-h1 {
  width: 100%;
  background-color: none;
  display: flex;

  justify-content: center;
  align-items: center;
}

.section-1 h1 {
  color: #9a42ff;
  font-family: comfortaa;
  font-size: 3rem;
  font-weight: 25px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding: 30px 10px;
}
.section-1 ul {
  margin-top: 50px;

  color: rgb(39, 39, 39);
  width: 50%;
  font-family: overpass;
  font-size: 1.3rem;
  padding-left: 20px;

  list-style: decimal;
  margin-left: -25%;
}
.section-1 ul li {
  margin-top: 5px;
  padding: 20px;
}
.right-obj {
  width: 25%;
  height: 35%;
  position: relative;
  margin-top: -25%;
  margin-right: 50px;
}
.right-obj img {
  transition: 0.2s ease-in-out;
}
.right-obj img:hover {
  transform: scale(0.9);
}
/******************* SECTION 2 STARTS *************************/
.section-2 {
  height: 100vh;

  background-image: linear-gradient(315deg, #7914ec 0%, #7800da 74%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec2-h1 {
  width: 100%;
  background-color: none;
  display: flex;

  justify-content: center;
  align-items: center;
}
.section-2 h1 {
  color: #fff;

  font-family: comfortaa;
  font-size: 3rem;
  font-weight: 25px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding: 30px 0;
}
.section-2 ul {
  margin-top: 50px;
  margin-left: -25%;
  color: rgb(255, 255, 255);
  width: 50%;
  font-family: overpass;
  font-size: 1.3rem;
  padding-left: 0px;

  list-style: decimal;
}
.section-2 ul li {
  margin-top: 5px;

  padding: 20px;
}
.right-obj {
  width: 25%;
  height: 35%;
  position: relative;
  margin-top: -25%;
  margin-left: 75%;
}

/******************************************* MEDIA QUERY *******************************************/

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  header .fa-bars {
    margin-right: 20px;
    display: block;
  }
  header .navbar {
    position: fixed;
    height: 100vh;
    top: -100rem;
    left: 0;
    width: 100%;
    margin-top: -50px;
    background: #fff;
    border-radius: 1rem;
    opacity: 0;
    transition: 0.5s linear;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .navbar ul {
    display: flex;
    flex-direction: column;
  }
  header .navbar ul li {
    width: 100%;

    text-align: center;
    background-color: none;
  }
  header .navbar ul li a {
    display: block;
    background-color: #fff;
    color: #9a42ff;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: none;
    transform: scale(0.8);
  }
  header .navbar ul li a:hover {
    color: #fff;
    background-color: #9a42ff;
    transform: scale(1);
    border-bottom: none;
  }
  header .nav-toggle {
    top: 5.5rem;
    opacity: 1;
  }
  .line {
    display: none;
  }

  /******** media for intro *********/
  .intro {
    flex-direction: column;
  }
  .intro .bg {
    width: 70%;
    height: 40vh;
    margin-top: 10%;
  }
  .intro .head-text {
    text-align: center;
  }
  /******** media for section-1 *********/
  .section-1 {
    margin: 0;
    border: none;
    height: 70vh;
    justify-content: space-evenly;
  }
  .section-1 h1 {
    text-align: center;
    font-size: 2.4rem;
    line-height: 3.5rem;
    width: 80%;
  }
  .section-1 ul {
    margin: 0;
    font-size: 1.5rem;
    width: 80%;
    margin-left: 25px;
  }
  .right-obj {
    display: none;
  }

  /******** media for section-2 *********/
  .section-2 {
    margin: 0;
    border: none;
    height: 70vh;
    justify-content: space-evenly;
  }
  .section-2 h1 {
    text-align: center;
    font-size: 2.4rem;
    line-height: 3.5rem;
    width: 80%;
  }
  .section-2 ul {
    margin: 0;
    font-size: 1.5rem;
    width: 80%;
    margin-left: 25px;
  }
  .right-obj {
    display: none;
  }
  /************** media end **************/
}
